@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
/* Main view setup */


*, *::before, *::after {
    box-sizing: border-box;
} 

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: blueviolet;
    font-family: otomanopee-one, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

/* Header & Footer */

header {
    text-align: center;
    height: 3.125rem;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 5rem;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    background-color: black;
}
img {
    width: 100%;
    border-radius: 5px;
}

/* Game area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}


.control {
    display: inline-block;
    margin: .125rem;
    width: 5rem;
    height: 2.5rem;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    transition: 100ms;
}

.control:hover {
    transform: scale(1.2);
}
#message {
    height: 1.125rem;
}

.player {
    background-color: lightblue;
    float: left;
    width: 45%;
    border-radius: 4px;

}

#player-image {
    width: 45%;
}
.computer {
    background-color: lightcoral;
    float: right;
    width: 45%;
    border-radius: 4px;
}
#computer-image {
    width: 45%;
}
