
/* Main view setup */


*, *::before, *::after {
    box-sizing: border-box;
} 

html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: blueviolet;
    font-family: 'DynaPuff', cursive;
    font-style: normal;   
    font-weight: 400;
    margin: 0;
}

h1, h2 {
    font-size: 1.5rem;
}
/* Header & Footer */

header {
    text-align: center;
    height: 3.125rem;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 5rem;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    background-color: black;
}
 /* style images */

img {
    width: 100%;
    border-radius: 5px;
}
i {
    cursor: pointer;
}
.description {
    text-align: center;
    height: 2rem;
}

/* Game area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}


.control {
    display: inline-block;
    margin: .125rem;
    width: 5rem;
    height: 2.5rem;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    transition: 100ms;
}

/* Player selection increases in size when hovered over */

.control:hover {
    transform: scale(1.2);
}
#message {
    height: 1.25rem;
}

/* Player positioned on Left */

.player {
    background-color: lightblue;
    float: left;
    width: 45%;
    border-radius: 4px;

}

#player-image {
    width: 45%;
}

/* Computer positioned on right */

.computer {
    background-color: lightcoral;
    float: right;
    width: 45%;
    border-radius: 4px;
}
#computer-image {
    width: 45%;
}
.player-set {
    background-color: lightcoral;
    float: left;
    width: 45%;
    border-radius: 4px;
}
.computer-set {
    background-color: lightblue;
    float: right;
    width: 45%;
    border-radius: 4px;
}

/* Popup container  */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 540px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  /* Input field full width */
  /* input[type=text] {
    width: 100%;
    padding: 1rem;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  /* Add background colou when input gets focus */
  /* input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  } */
  /* style for buttons */
  /* button {
    /* background-color: #04aa6d;
    color: white; */
    /* padding: 14px 20px;
    margin: 4px 0; */
    /* border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.8;
  }
  button:hover {
    opacity: 1;
  } */
  /* .sign-up-btn {
    float: left;
    width: 50%;
  } */
  /* .container {
    padding: 1rem;
  } */
  /* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top: 50px;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
  } */
  /* hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } */

